::-moz-selection {
    color: #f00;
    background: none;
}

::selection {
    color: #f00;
    background: none;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    overflow: hidden;
}

body {
    background-color: #fff;
    min-width: 60%;
    width: -moz-fit-content;
    overflow-y: scroll;
    padding: 1rem;
    position: relative;
}

h1, h2 {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

*:not(button) {
    text-transform: uppercase;
    font-size: 1.4rem;
}

button {
    position: absolute;
    top: 2.4rem;
    right: 1rem;
    background: none;
    border: none;
    color: #f00;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}